.button {
    -fx-background-color: #a5721f;
}

.button:hover {
    -fx-background-color: #8c6019;
    -fx-scale-y: 0.9;
}

.menuLabel:hover{
    -fx-background-color: #8c6019;
}

.text {
    -fx-text-fill: white;
}

.jfx-progress-bar .bar {
    -fx-background-color: orange;
}

#play .bar {
    -fx-background-COLOR: orange;
}

#play .track {
    -fx-background-color: #394a66;
}

.jfx-list-cell:selected{
    -fx-background-color: 0.0;
}

.jfx-list-cell:even {
    -fx-background-color: #4f607c;
}

.jfx-list-cell: odd {
    -fx-background-color:  #617596;
}

.jfx-list-cell: hover {

}

.jfx-list-view {
    -fx-background-insets: 0;
    -fx-background-color: #394a66;
}

/** TabPane **/

.tab {
    -fx-background-color: #394a66;
    -fx-pref-width: 200;
    -fx-pref-height: 60;
}

.tab-header-background{
    -fx-background-color: #394a66;
}







